:root{
    --light-blue: #00B5CC;
    --dark-blue: #00353E;
    --green: #b2df28;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    font-family: 'Dangrek', cursive;
}

.imagem-de-capa img{
    width: 100%;
  }

button{
	font-family: 'Creepster', cursive;
	color: var(--light-blue);
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

button:hover{
    color: var(--green);
}

.selecao{
    font-family: 'Creepster', cursive;
    margin-left: 5em;
    margin-top: 1em;
    display: flex;
    gap: 1.5em;
}

select{
    font-family: 'Creepster', cursive;
    color: var(--light-blue);
    font-size: 2em;
    border-style: none;
}


option{
    font-family: 'Creepster', cursive;
    color: var(--light-blue);
    font-size: 1em;
    transition: 0.3s ease-in-out;
}

option:hover{
    color: var(--green);
}

.personagens {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
    color: var(--dark-blue);
    width: fit-content;
    height: 70vh;
    overflow-y: scroll;
    margin-top: 2em;
}

.cards {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img{
    width: 15em;
}

.cards h2{
    font-family: 'Creepster', cursive;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.8em;
    width: 7em;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 20px;
  }

	input{
		width: 15em;
		height: 57px;
		border: 1px solid var(--light-blue);
	}

	::-webkit-input-placeholder{
		text-align: center;
		color: #00353E;
	}

	footer{
		text-align: center;
	}

	footer a{
		color: var(--light-blue);
		text-decoration: none;
		transition: 0.3s ease-in-out;
	}

	footer a:hover{
		color: var(--green);
	}

/* SLIDES */

.slider{
  margin: 5px auto;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.slides{
	width: 400%;
	height: auto;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 25%;
	position: relative;
}

.slide img{
	width: 100%;
}

.navegacao-manual{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.bnt-manual{
	background-color: var(--light-blue);
	padding: 6px;
	cursor: pointer;
	transition: 1s;
}

.bnt-manual:not(:last-child){
	margin-right: 15px;
}

.bnt-manual:hover{
	background-color: var(--dark-blue);
}

#radio1:checked ~ .primeiro{
	margin: 0;
}

#radio2:checked ~ .primeiro{
	margin-left: -25%;
}

.navegacao-auto{
	position: absolute;
	width: 100%;
	margin-top: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}