:root{
    --light-blue: #00B5CC;
    --dark-blue: #00353E;
    --green: #b2df28;
    --bg-color: #f2f2f2;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    font-family: 'Dangrek', cursive;
    background-color: var(--bg-color);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

header img{
    width: 43vh;
}

button{
	font-family: 'Creepster', cursive;
	color: var(--light-blue);
    padding: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
    border: none;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

button:hover{
    color: var(--green);
}

main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.selecao{
    font-family: 'Creepster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media(max-width: 415px) {
    .selecao{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    button{
        font-size: 1.8em;
    }
}

select{
    font-family: 'Creepster', cursive;
    color: var(--light-blue);
    font-size: 2em;
    border-style: none;
}

option{
    font-family: 'Creepster', cursive;
    color: var(--light-blue);
    font-size: 1em;
    transition: 0.3s ease-in-out;
}

option:hover{
    color: var(--green);
}

.personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--dark-blue);
    max-width: fit-content;
    height: 65vh;
    overflow-y: scroll;
}

.cards {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.84);
}

.cards h2{
    font-family: 'Creepster', cursive;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.8em;
    width: 7em;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 20px;
}

input{
	width: 15em;
	height: 57px;
	border: 1px solid var(--light-blue);
}

::-webkit-input-placeholder{
	text-align: center;
	color: #00353E;
}

footer{
	text-align: center;
}

footer a{
	color: var(--light-blue);
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

footer a:hover{
	color: var(--green);
}